				/*******************BODY**************************/
*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	background-color: #F2f0df;
	font-family: Helvetica, Verdana, Arial;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

				/******************* MENU **************************/
#menu-container{
	width: 20%;	
	background-color: #222;
	position: fixed;
	height: 100%;
	text-align: center;
}

#menu-container #logo-menu{
	text-align: center;
	margin: 20px auto;
}
#menu-container #logo-menu #logo-name{
	color: white;
	font-size: 14px;
	padding-top: 10px;
}

#menu-container #logo-menu #logo-desc{
	color: white;
	padding-top: 7px;
	font-size: 10px;
}

#menu-container #menu{
	background-color: #222;
	margin: 0;
	padding: 40px 0 40px 0;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
}

#menu-container #menu li{
	list-style: none;
	margin: 0;
	padding: 10px;	
	text-align: center;
}

#menu-container #menu li a{
	color: #FCB95B;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#menu-container #menu li a:hover{
	color: #F5DFCE;
}

				/******************* MAIN **************************/
#main-container{
	width: 2600px;
	display: inline-block;
	margin-left:20%;
}

#main-container .section{
	border-right: dotted 1px #ccc;
	display: inline-block;
	width: 500px;
	vertical-align: top;
	height: 700px;
	padding:10px;
	overflow: hidden;
	overflow-y: scroll;

}

#main-container .section h2{
	border-bottom: dotted 1px #ccc;
	padding: 20px 40px;
	text-align: center;
}

#homeSection{
	text-align: center;
	padding-top: 100px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	width: 450px !important;
	text-align: center;
	box-sizing: border-box;
}

#homeSection #init-desc{
	color: #444;
	font-size: 22px;
	font-style: italic;
}

.separator{
	background-image: url(images/separador.png);
	height: 30px;
	background-position: center center;
}

#homeSection #sep-video{
	padding: 10px;
}

/*****************************************************************************************/
								/*WORK SECTION*/
/*****************************************************************************************/
p{
	font-size: 14px;
	line-height: 26px;
	margin-top: -5px;
}

.feed-icon{
	float: left;
	padding-right: 10px;
	width: 50px;
}

#posts a{
	color: green;
}

.rss-container{
	/*text-align: center;*/
	border-bottom: dotted 2px #e0deca;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	padding-top: 15px;
}

.rss-container:hover{
	background-color: #E0DECA;
}

.rss-container img{
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}

.rss-container h4{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 350px;
}